<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <table class="table table-striped">
  <tr>
    <th>Name:</th>
    <th><%= f.text_field :name %></th>
  </tr>
  <tr>  
    <td>Email:</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>  
    <td>Password:</td> 
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>  
    <td>Password Confirmation:</td> 
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
</table>
  
  <%= f.submit "Submit" %>

<% end %>